@font-face {
    font-family: hacking;
    src: url('../fonts/Cracked\ Code.ttf');
 }

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    padding: 0px;
    margin: 0px
}

body {
    background-image: url(../img/vecteezy_abstract-neon-background-with-glitch-effect_.jpg);
    background-size: cover;

    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
    margin-top: 10px;
}

nav ol {
    width: 223px;
    max-width: calc(100% - 80px);

    margin: auto;

    list-style: none;
}

nav ol li {
    display: inline-block;

    padding: 10px;

    margin: auto;
}

nav a {
    font-family: hacking;
    font-weight: 500;
    font-size: 13px;

    text-decoration: none;

    color: white;
    text-shadow: -2px 2px 0px #6C00FF;
}

nav a:hover {
    color: black;
    
    text-shadow: -2px 2px 0px white;

    text-decoration: underline;

    transition: 0.35s;
}

.session {
    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 5px;

    padding: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}


article {
    padding-top: 10px;
    margin-bottom: 20px;
}

.content {
    width: 1100px;
    max-width: calc(100% - 50px);

    margin: 20px auto;
    padding: 10px;
    padding-bottom: 20px;

    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.content a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;

    text-decoration: none;
}

.content h1 {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: hacking;

    text-indent: 10px;

    color: white;

    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    font-weight: 500;

    color: white;

    text-indent: 15px;

    padding-left: 10px;
    padding-right: 10px;

    text-align: justify;
}

.content span {
    color: #6c00ff;
}

hr {
    border-width: 2px;
    border-radius: 25px;
    border-color: #121212;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #121212;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}